<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode }}">
  {{- partial "head.html" . -}}
  <body a="{{ $.Site.Params.theme_config.appearance | default "auto" }}">
    <header style="text-align: center; padding: 20px; background-color: #f4f4f4;">
        <a href="/" style="text-decoration: none; color: inherit;">
            <h1>{{ .Site.Title }}</h1>
          </a>
    </header>

    <main class="page-content" aria-label="Content">
      <div class="w">
        {{- block "main" . }}{{- end }}
        {{ partial "footer.html" }}
      </div>
    </main>

    {{ partial "scripts.html" }}
  </body>
</html>
