{{ define "main" }}
{{ partial "back_link.html" . }}

<article>
    <header>
        <h1>{{ .Title }}</h1>
        <p>Posted on {{ .Date.Format "January 2, 2006" }}</p>

        <div class="categories">
            <strong>Categories:</strong>
            {{ $categories := .Params.categories }}
            {{ range $index, $category := $categories }}
            <a href="/categories/{{ $category | urlize }}" class="category-link">{{ $category }}</a>
            {{ if ne $index (sub (len $categories) 1) }} , {{ end }}
            {{ end }}
        </div>

        <!-- Table of Contents (if any) -->
        {{ if .Params.toc }}
        <aside {{ if .Params.tocBorder }} class="toc" {{ end }}>
            {{ .TableOfContents }}
        </aside>
        {{ end }}
    </header>

    <!-- Post Metadata (Reading Time) -->
    <div class="post-meta">
        <span class="reading-time">
            <!-- Icon for the reading time -->
            <i class="fas fa-clock"></i>
            {{ .Params.reading_time }} Minute Read
        </span>
    </div>

    <!-- Post Content -->
    <div class="post-content">
        {{ .Content }}
    </div>
</article>
{{ end }}